[submodule "skills/architecture_4-1"]
	path = skills/architecture_4-1
	url = https://github.com/MozhiJiawei/architecture_4-1.git
[submodule "skills/grobid_pdf_skill"]
	path = skills/grobid_pdf_skill
	url = https://github.com/MozhiJiawei/grobid_pdf_skill.git
[submodule "skills/hw-ppt-gen"]
	path = skills/hw-ppt-gen
	url = https://github.com/MozhiJiawei/hw-ppt-gen.git
[submodule "skills/send-qq-email"]
	path = skills/send-qq-email
	url = https://github.com/MozhiJiawei/send-qq-email.git
[submodule "skills/gh-issue-comment-monitor"]
	path = skills/gh-issue-comment-monitor
	url = https://github.com/MozhiJiawei/gh-issue-comment-monitor.git
[submodule "skills/ppt-deep-search"]
	path = skills/ppt-deep-search
	url = https://github.com/MozhiJiawei/ppt-deep-search.git
