.VPHero .main {
  max-width: 760px;
}

.VPHero .name,
.VPHero .text {
  max-width: 760px;
}

.VPHero .text {
  max-width: 760px;
}

@media (min-width: 960px) {
  .VPHero .name {
    font-size: 54px;
    line-height: 1.08;
  }

  .VPHero .text {
    font-size: 52px;
    line-height: 1.14;
    margin-top: 8px;
  }
}

@media (min-width: 1280px) {
  .VPHero .name {
    font-size: 56px;
  }

  .VPHero .text {
    font-size: 54px;
  }
}

.VPFeature {
  min-height: 168px;
}

.VPFeature .details {
  line-height: 1.8;
}

@media (min-width: 1280px) {
  .VPNavBar.has-sidebar .content,
  .VPNavBar.has-sidebar .content-body {
    max-width: none !important;
  }

  .VPSidebar {
    padding-left: 24px !important;
    width: var(--vp-sidebar-width) !important;
  }

  .VPContent.has-sidebar {
    padding-left: var(--vp-sidebar-width) !important;
    padding-right: 24px !important;
  }

  .VPDoc .container {
    max-width: none !important;
    margin: 0 !important;
    padding: 0 24px !important;
  }

  .VPDoc.has-aside .content {
    max-width: none !important;
    padding: 0 32px 0 0 !important;
  }

  .VPDoc.has-aside .content-container,
  .VPDoc:not(.has-aside) .content-container {
    max-width: none !important;
  }

  .VPDoc.has-aside .aside {
    width: 260px !important;
    padding-left: 24px !important;
  }

  .VPDoc.has-aside .aside-container {
    width: 236px !important;
  }
}

.vp-doc img {
  max-width: 100%;
}

.vp-doc p:has(> img) {
  margin: 24px 0;
}
